---
- name: "Update Azure DevOps PAT"
  become_user: "{{ agent_user }}"
  azure_devops:
    action: update
    agent_user: "{{ agent_user }}"
    agent_installation_directory: "{{ agent_installation_directory }}"
    organization_name: "{{ organization_name }}"
    orgnization_url: "{{ orgnization_url }}"
    agent_name: "{{ agent_name }}"
    agent_token: "{{ agent_token }}"
    agent_work_directory: "{{ agent_work_directory }}"
    agent_version: "{{ agent_version }}"
    agent_deployment_group_name: "{{ agent_deployment_group_name }}"
    agenet_deployment_group_project_name: "{{ agenet_deployment_group_project_name }}"
  ignore_errors: true
  tags: azuredevops
